<div id="nav_container">
  <nav id="nav">
    <ul class="cf">
      <li>DJ<span>SYNC</span></li>
      <li><a href="/parties/<%=@party.id%>/">Setlist</a></li>
      <li><a href="/parties/<%=@party.id%>/library">Library</a></li>
      <li><a href="">Party</a>
        <div>
          <ul>
            <li><a href="">Join Party</a></li>
            <li><a href="">Create Party</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>

<input type="file" accept="audio/*"/>
<audio controls autoplay></audio>